.galleryWrapper {
	text-align: center;
	border: solid black 2px;
	margin-right: 1px;
	margin-left: 1px;
/*	overflow: scroll;
*/}

.galleryImage {
	/*border-radius: 200px;*/
	border: solid black 1px;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 1;
}

.makeDarker:hover {
	opacity: 0.5;
}

.putOverPic {
	position: absolute;
	z-index: 2;
	color: red;
	padding-top: 150px;
	text-align: center;
/*	background-image: url("assets/images/beard1.jpg");
*/}

.hideIt {
	display: none;
}

.alignLeft{
	text-align: left;
	margin: 0;
	margin-top: 10px;
}

h1 {
	text-align: center;
}