.galleryWrapper {
	text-align: center;
	border: solid black 2px;
	margin-right: 1px;
	margin-left: 1px;
/*	overflow: scroll;
*/}

.galleryImage {
	/*border-radius: 200px;*/
	border: solid black 1px;
	padding-left: 0px;
	padding-right: 0px;
}

.makeDarker:hover {
	opacity: 0.5;
	cursor: pointer;
}

.hidden {
	display: none;
}

.movePopUpDown {
	/*padding-top: 5px;*/
	/*clear: none;*/
	/*float: none;*/
}

.clear-none {
	clear: none;
	float: none;
}